.footer {
  border-top: 1px solid white;
  margin: 0 7%;
  padding-top: 0.7em;
}

.footer-title {
  font-size: medium;
}

.footer-text {
  font-size: small;
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
}
