html {
  font-family: "Roboto Mono", "Lucida Console", Monaco, monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site {
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  max-width: 1200px;
}
