.navbar-item {
  display: inline-block;
  margin-right: 1em;
  text-decoration: none;
  color: #6a6a6a;
  border: 1px solid #6a6a6a;
  padding: 0.3em 0.5em;
  width: 70px;
  text-align: center;
}

.active {
  color: white;
  border-color: white;
}

.navbar {
  padding-bottom: 1em;
  /* margin-bottom: 1em; */
  margin: 1em 7% 1em 7%;
}
