.container {
  width: 300px;
  padding-bottom: 1em;
}

.description {
  font-size: 0.9em;
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
}

.title {
  padding-top: 0.3em;
}

p {
  margin-top: 0;
}
